@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'SFUIDisplay';
}
body{
    position: relative;
    background: black;
}
.hidden{
    display: none!important;
}

/*HEADER*/
#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 50px;
    width: 100%;
    background: #1b1b1b;
}
.control-group{
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.control{
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    transition: .5s;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-right: 1rem; 
    cursor: pointer;
    text-decoration: none;
}
.control a{
    color: inherit;
    outline: none;
    text-decoration: none!important;
}
.control:nth-last-child(){
    margin-right: 0;
}
.control:hover{
    background: white;
    transition: .5s;
    color: black;
}


/*LAUNCH*/
#launch-btn{
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    font-weight: 800;
    font-size: 1.5rem;
}
/* PRESET LAUNCH */
#preset-launch-btn{
    z-index: 100;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    font-weight: 800;
    font-size: 1.5rem;
}


/*CONTENT*/
.button{
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1b1b1b;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .35s;
}
.button-choosen{
    background: red;
    transition: .35s;
}

#content{
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cat-list{
    margin: 50px 10px 50px 10px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}
.cat{
    display: flex;
    flex-direction: row;
    color: white;
    margin-right: 20px;
    padding: 12px 12px 12px 12px;
    background: #1b1b1b;
    margin-bottom: 20px; 
    border-radius: 5px;
    transition: .35s;
    cursor: pointer;
}
.cat::selection{
    background: none;
}
.cat-choosen{
    background: red;
    transition: .35s;
}




/* PRESETS */
.presets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.preset{
    display: flex;
    color: white;
    margin-right: 10px;
    padding: 12px 12px 12px 12px;
    background: #1b1b1b;
    margin-bottom: 20px; 
    border-radius: 5px;
    transition: .35s;
    cursor: pointer;

}
.preset::selection{
    background: none;
}
.preset-choosen{
    background: red;
    transition: .35s;
}
.modal{
    padding: 10px 20px;
}
.modal p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
#tooltip {
    background: red;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 20px;
    display: none;
    animation: fadeout 0.3s;
  }

  #tooltip[data-show] {
    animation: fadein 0.3s;
    display: block;
  }

  #arrow,
  #arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
  }

  #arrow::before {
    content: '';
    transform: rotate(45deg);
    background: red;
  }

  #tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
  }

  #tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
  }

  #tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px;
  }

  #tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px;
  }
  .ui-loader{
      display: none!important;
  }