@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'SFUIDisplay';
}
body{
    position: relative;
    background: black;
}
.stop-scrolling {
    overflow: hidden;
  }
.hidden{
    display: none!important;
}

/*HEADER*/
#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 50px;
    width: 100%;
    background: #1b1b1b;
}
.control-group{
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.control{
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    transition: .5s;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-right: 1rem; 
    cursor: pointer;
    text-decoration: none;
}
.control a{
    color: inherit;
    outline: none;
    text-decoration: none!important;
}
.control:nth-last-child(){
    margin-right: 0;
}
.control:hover{
    background: white;
    transition: .5s;
    color: black;
}


/*LAUNCH*/
#launch-btn{
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    font-weight: 800;
    font-size: 1.5rem;
}
#launch-btn i{
    margin-left: 3px;
}

/* PRESET LAUNCH */
#preset-launch-btn{
    z-index: 100;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    font-weight: 800;
    font-size: 1.5rem;
}


/*CONTENT*/
.button{
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1b1b1b;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .35s;
}
.button-choosen{
    background: rgba(247, 145, 0, 1);
    transition: .35s;
    color: black;
    
}

#content{
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cat-list{
    margin: 50px 10px 50px 10px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}
.cat{
    display: flex;
    flex-direction: row;
    color: white;
    margin-right: 20px;
    padding: 12px 12px 12px 12px;
    background: #1b1b1b;
    margin-bottom: 20px; 
    border-radius: 5px;
    transition: .35s;
    cursor: pointer;
    font-weight: 500;
}
.cat::selection{
    background: none;
}
.cat-choosen{
    background: rgba(247, 145, 0, 1);
    transition: .35s;
    color: black;
}




/* PRESETS */
.presets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.preset{
    display: flex;
    color: white;
    margin-right: 10px;
    padding: 12px 12px 12px 12px;
    background: #1b1b1b;
    margin-bottom: 20px; 
    border-radius: 5px;
    transition: .35s;
    cursor: pointer;

}
.preset::selection{
    background: none;
}
.preset-choosen{
    background: rgba(247, 145, 0, 1);
    transition: .35s;
}
.modal{
    padding: 10px 20px;
}
.modal p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
#tooltip {
    background: rgba(247, 145, 0, 1);
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 20px;
    display: none;
    animation: fadeout 0.3s;
  }

#tooltip[data-show] {
    animation: fadein 0.3s;
    display: block;
}

#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
}

#arrow::before {
    content: '';
    transform: rotate(45deg);
    background: rgba(247, 145, 0, 1);
}

#tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px;
}
.ui-loader{
    display: none!important;
}


/* NO PRESETS */
.control-group{
    display: none;
}
#header{
    display: flex;
    justify-content: space-between;
    
}
.navbar-brand{
}
.navbar-brand img{
    height: 30px;
    margin-top: 3px;
    
}
#right{
    width: 50px;
    height: 50px;
    margin-left: 1rem;
}


/* QUESTION */
.chapter-question{
    display: flex;
    flex-direction: row; 
}
.success{
    background: #22AC36;
}
.success:hover{
    background: #009944;
}
.error{
    background: #E60033;
}
.error:hover, .error-clicked{
    background: #E5006A;
}
.question-control{
    display: flex;
    flex-direction: row;
    color: white;
    margin-right: 20px;
    padding: 12px 12px 12px 12px;
    margin-bottom: 20px; 
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
}



/* CHAPTERS */
.chapter{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.chapter-controls{
    display: flex;
}

.chapter-control{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 12px 12px 12px 12px;
    /*background: #1b1b1b;*/
    background: black;
    margin-bottom: 30px; 
    border-radius: 3px;
    transition: .35s;
    cursor: pointer;
}
.chapter-control:hover{
    background: #1b1b1b;
}
.chapter-control i{
    margin-bottom: 20px;
    font-size: 7rem;
}
.chapter-control span{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}
@media (orientation: landscape) {
    .chapter-controls{
        flex-direction: row;
    }
    .chapter-control{
        margin-right: 30px;
    }
    .chapter-control:nth-last-child(){
        margin-right: none;
    }

  }
  @media (orientation: portrait) {
    .chapter-controls{
        flex-direction: column;
    }
  }

  @media (max-width: 320px) and (orientation:portrait){
    .chapter-control{
        margin-bottom: 20px;
    } 
    .chapter-control i{
        margin-bottom: 20px;
        font-size: 5.5rem;
    }
    .chapter-control span{
        font-size: 1.2rem;
    }
  }
 /* @media (max-width: 361px) and (orientation:portrait) and (min-width: 321px){
    .chapter-control{
        margin-bottom: 20px;
    } 
    .chapter-control i{
        margin-bottom: 20px;
        font-size: 5.3rem;
    }
    .chapter-control span{
        font-size: 1.2rem;
    }
  }*/
/* BACK BTN */
#back-to-crossroad{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    color: white;
    transition: .5s;
    padding-left: .5rem;
    padding-right: .5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

