/*-----------basic-----------*/
*{
	transition: 0.5s;
	overflow-x: none;
}
html{
  	position: relative;
  	min-height: 100%;
}
body{
	background-color: rgb(40, 31, 35);
	color: white;
}
a:hover {
	text-decoration: none;
}
.wrapper{
	max-width: 100%;
	margin-top: 0px;
	margin: auto;
}
.placeholder{
	position: absolute;
	z-index: -10;
	color:rgb(60, 51, 55);
	font-size: 15vw;
}
.block{
	display: block;
}
.b-md-4{
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	text-align: center;
    transition: 0.5s;
}
.b-md-4 > p > i{
	transition: 0.5s;
}
.b-md-4:hover > p > i{
	transform: translateY(-20px);
}
.b-md-4:hover{
	box-shadow: 0 0 5px rgba(200, 200, 200, 1);
}
.go-btn{
	padding: 2px;
	position: fixed;
	z-index: 10;
	bottom: 10px;
	right: 10px;
	width: 80px;
	height: 80px;
	border-radius: 40px;
}
.re-btn{
	padding: 2px;
	position: fixed;
	z-index: 10;
	top: 30px;
	right: 10px;
	width: 40px;
	height: 40px;
	border:none;
	border-radius: 40px;
}
.re-btn:hover{
	color:white;
	background-color: rgb(70, 61, 65);
}
.hidden{
	visibility: none;
}
.player{
	background-color: rgb(40, 31, 35);
	color: white;
	font-size: 30pt;
	position: fixed;
	width: 100vw;
	height: 100vh;
}
.back-button{
	float: left;
	display: block;
	position: absolute;
	top: 0px;
	left: 10px;
	color: white;
	z-index: 10;
}
.back-button:hover{
	color:rgb(80, 71, 75);
}

/*VIEWER*/
iframe {
	width: 100%!important;
	height: 100%!important;
}